@import '../../utils/Vars'

.Footer-social
  padding: 0 1em
  &_icons
    margin-top: 1em
    display: flex
    justify-content: space-around
  img
    width: 30px
    height: 35px
    filter: grayscale(100%)
    will-change: transform, filter
    &:hover
      filter: grayscale(0)
      transform: scale(1.1)