@import '../utils/Vars'
@import '../utils/breakpoints'

.Session
  display: grid
  grid-template-columns: repeat(2, 1fr)
  &-button
    @include button(10px)
    width: 9em
    height: 2em
    position: absolute
    top: 150px
    left: 43%
    font-size: 1.1em
    cursor: pointer
    &:hover
      background-color: $brand-color-alt


@include media ( tablet-l )
  .Session-button
    top: 100px

@include media ( tablet-s )
  .Session
    display: block
    &-button
      left: 11em
      width: 13em
      height: 2.4em

@include media ( mobile-m )
  .Session-button
    left: 9em