@import '../../utils/Vars'
@import '../../utils/breakpoints'

.Hero
  height: 40em
  margin: 1em
  background-image: url('https://images.pexels.com/photos/372851/pexels-photo-372851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
  background-repeat: no-repeat
  background-size: 100%
  background-position: right center
  border-radius: 2em
  overflow: hidden
  &-description
    height: 100%
    background: rgb(9,9,9);
    background: linear-gradient(90deg, rgba(9,9,9,0.1) 22%, rgba(43,43,43,0.6) 43%, rgba(43,43,43,0.71) 100%);
    position: relative
    h1
      width: 60%
      font-family: $title-font
      text-transform: capitalize
      font-size: 5.5em
      position: absolute
      top: 1em
      margin-left: 1em
      color: white
      span
        color: $brand-color
        display: block
        font-size: 1.1em
        font-family: $brand-font
    button
      @include button(1.8em)
      width: 8em
      position: absolute
      bottom: 4em
      left: 4em
      padding: .7em
      font-size: 1.4em
      text-transform: capitalize
      a
        color: white