@import '../../utils/Vars'
@import '../../utils/breakpoints'

.Section
  padding: 1.5em
  &-grid
    padding: 1em
    overflow: hidden
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1.3em
  h2
    font-size: 4em
  p
    font-size: 1.3em

@include media ( tablet-l-only )
  .Section-grid
    grid-template-columns: repeat(2, 1fr)


@include media ( tablet-l )
  .Section-grid
    grid-template-columns: repeat(2, 1fr)

@include media ( tablet-m )
  .Section-grid
    grid-template-columns: repeat(2, 1fr)

@include media ( tablet-s )
  .Section-grid
    grid-template-columns: 1fr

.Loading-products
  grid-column: span 3
  height: 50px
  text-align: center