// variables
$title-font: 'Source Sans Pro', sans-serif;
$paragraph-font: 'Lato', sans-serif;
//TODO: add original momento's font for the title
$brand-font: 'sans-serif';
//colors
//TODO: add original momento's colors
$brand-color: red;
$brand-color-alt: blue;
$title-color: black;
$paragraph-color: gray;

@mixin flex($align, $justify)
  display: flex
  justify-content: $justify
  align-items: $align