@import '../../utils/Vars'
@import '../../utils/breakpoints'
.About
  margin-bottom: 2em
  &-title
    background-image: url('https://images.pexels.com/photos/9095/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 9em
    font-size: 3em
    @include flex(center, center)
    color: white
  &-main
    background-color: $white-color
    width: 45%
    position: relative
    margin: 0 auto
    top: -6em
    text-align: center
    padding: 1em 2em
    box-shadow: 0px 8px 8px -5px gray
    border-radius: .9em
    h3
      font-size: 2.2em
      margin-bottom: .7em
    p
      font-size: 1.4em
      text-align: left
    button
      @include button(15px)
      width: 30%
      height: 3em
      margin: 1.5em auto
      position: relative
      bottom: 0
      font-size: 1em
      a
        color: white
  &-history
    padding: 2em
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 2.5em



@include media ( desktop-xs )
  .About-main
    width: 48%
    font-size: 1.1em

@include media ( desktop-m )
  .About-main
    width: 48%

@include media ( desktop-s )
  .About-main
    width: 53%

@include media ( tablet-l )
  .About-main
    width: 55%

@include media ( tablet-m )
  .About
    font-size: .9em

@include media ( tablet-s )
  .About-main
    width: 85%
  .About-history
    grid-template-columns: 1fr
    grid-template-rows: 1fr .6fr 1fr .6fr
    &_section:first-of-type
      grid-row-start: 2

@include media ( mobile-m )
  .About-main
    font-size: 1.1em
    button
      width: 50%

