@import '../../utils/Vars'
@import '../../utils/breakpoints'
.About
  margin-bottom: 2em
  &-title
    background-image: url('https://images.pexels.com/photos/9095/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 9em
    font-size: 3em
    @include flex(center, center)
    color: white
  &-history
    padding: 2em
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 2.5em


@include media ( tablet-m )
  .About
    font-size: .9em

@include media ( tablet-s )
  .About-history
    grid-template-columns: 1fr
    grid-template-rows: 1fr .6fr 1fr .6fr
    &_section:first-of-type
      grid-row-start: 2

