@import '../../utils/Vars'
@import '../../utils/breakpoints'

.Cart
  position: fixed
  background-color: white
  min-height: 100vh
  top: 4.6em
  right: 0
  width: 45%
  z-index: 200
  will-change: transform, animation
  h3
    font-size: 2em
    padding: .9em
  &-products
    padding: 1.3em

.hr_cart
  margin-bottom: 1em

.Cart.is-open
  animation: showCart .6s ease forwards
  transform-origin: right
  overflow-y: overlay


.Cart.is-closing
  animation: hideCart .6s ease forwards
  transform-origin: right

@keyframes showCart
  0%
    transform: translateX(1000px)
  100%
    transform: translateX(0)

@keyframes hideCart
  0%
    transform: translateX(0)
  100%
    transform: translateX(1000px)

@include media ( desktop-s )
  .Cart
    top: 4.7em

@include media ( tablet-l )
  .Cart
    width: 52%

@include media ( tablet-s )
  .Cart
    width: 100%
    top: 4.9em

@include media ( mobile-l )
  .Cart
    top: 5.1em

@include media ( mobile-m )
  .Cart
    top: 5.4em