@import '../../utils/Vars'
@import '../../utils/breakpoints'

.Cart
  position: fixed
  background-color: white
  height: 100vh
  top: 5.47em
  right: 0
  width: 45%
  z-index: 200
  will-change: transform, animation
  h3
    font-size: 2em
    padding: .9em
    margin-bottom: .8em
  &-products
    padding: 1em

.hr_cart
  margin-bottom: 1em

.Cart.is-open
  animation: showCart .6s ease forwards
  transform-origin: right

.Cart.is-closing
  animation: hideCart .6s ease forwards
  transform-origin: right

@keyframes showCart
  0%
    transform: translateX(1000px)
  100%
    transform: translateX(0)

@keyframes hideCart
  0%
    transform: translateX(0)
  100%
    transform: translateX(1000px)


@include media ( tablet-l )
  .Cart
    width: 52%

@include media ( tablet-s )
  .Cart
    width: 90%